<meta charset="UTF-8">
<title>pointingv2</title>

<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

<style>
	:root {
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
	}

	.body {
		padding-top: 2rem;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.hidden {
		visibility: hidden;
	}

	.li {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 1rem;
		padding: 1rem;
		padding-left: 0;
		border-bottom: 0.1rem solid rgba(150, 150, 150, .1);
	}

	.size15 {
		padding: 15px;
	}
</style>