<div class="center">
	<div>
		<h2>EJS pointing v2</h2>
		<p>someday with cool logo.</p>
	</div>
</div>

<nav class="nav" id="navigation">
	<a class="nav-link active" href="/">Home</a>
	<a class="nav-link disabled" href="#">Coming soon</a>
</nav>